
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 box-shadow">
    {% if not request.user.is_authenticated %}
    <h5 class="my-0 mr-md-auto"><a class="navitem" href="{% url 'home' %}">Company name</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 navitem" href="{% url 'groups' %}">Groups</a>
    <a class="p-2 navitem" href="{% url 'login' %}">Log in</a>
    <a class="p-2 navitem" href="{% url 'signup' %}">Sign up</a>
    </nav>
    {% else %}
    <h5 class="my-0 mr-md-auto"><a class="navitem" href="{% url 'home' %}">Company name</a></h5>
    <h6 class="my-0 mr-md-auto">Welcome {{request.user.username}}</h6>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 navitem" href="{% url 'createpost' %}">Posts</a>
    <a class="p-2 navitem" href="{% url 'groups' %}">Groups</a>
    <a class="p-2 navitem" href="{% url 'creategroup' %}">Create Group</a>
    <a class="p-2 navitem" href="{% url 'logout' %}">Log out</a>
    </nav>
    {% endif %}
</div>